{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'class': 'form', 'id': 'form', action : path('ajax_tagsSearch') }} ) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.tags) }}
            {{ form_errors(form.tags) }}
            {{ form_widget(form.tags, {'attr': {'class': 'form-control', 'placeholder': 'Search tags separated by coma'}}) }}
        </div>

        <button type="submit" >Search Videos</button>
    {{ form_end(form) }}

    <hr/>

    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
    </div>

{% endblock %}
